---
import HelloWorld from "admin/components/HelloWorld.tsx";
console.log('This run in your terminal');
---

<html>
    <body>
        <h1>Hello to Admin Interface!</h1>
        <HelloWorld client:load />
    </body>
</html>